.skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .skill-name {
    width: auto;
    font-size: .75rem;
    margin-left:7%; 
    font-weight:600;      
  }

  .skill-amount {
    width: 15%;
    font-size: .85rem;
    font-weight:700;
    text-align:right;
    margin-left:5%;       
  }
  
  .skill-level {
    width: 85%;
    height: 10px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 2%;
  }
  
  .skill-percent {
    /*background-color: #333;*/
    height: 100%;
  }
  
  .skill-percent-number {
    /*margin-left: 20px;*/
    font-size: .70rem;
    width:5%;
    font-weight:600; 
  }
  